* {
    box-sizing: border-box;
    font-size: 10px;

}

/* Style the top navigation bar */
.menu {
    overflow: hidden;
    background-color: #7EC8E3;
}

/* Style the menu links */
.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.menu a:hover {
    background-color: #055C9D;
    color: white;
}


.left {
    display: block;
}

.right {
    display: none;
    float: right;
    cursor: pointer;
}

/* Hamburger menu styles */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #055C9D;
}

.line {
    width: 30px;
    height: 6px;
    background-color: #7EC8E3;
    margin-bottom: 4px;
}



/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
body {
    padding-top: 90px;
    padding-bottom: 70px;
}

.fixed-header,
.fixed-footer {
    width: 100%;
    position: fixed;
}

/*Start Fixing header and footer */
.fixed-header {
    top: 0;
}

.fixed-footer {
    color: rgb(71, 71, 71);
    background-color: #7EC8E3;
    padding: 10px;
    bottom: 0;
}

/* End Fixing header and footer */
/* Start Top div  */
.contacts {
    background-color: #055C9D;
    color: white;
}

/* End Top div  */



/* Start an animating border */
.fixed-header::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #055C9D;
    transition: width 0.9s ease;
}

.fixed-header:hover::after {
    width: 100%;
}

/* End an animating border */
/* On screens that are 480px wide or less, make the menu links stack on top of each other instead of next to each other */
@media only screen and (max-width: 480px) {
    body {
        margin-top: 40px;
        background-color: rgb(255, 255, 255);
        margin-bottom: 40px;
    }

    .left {
        display: none;
    }

    .right {
        display: block;
    }

    .menu a {
        float: none;
        width: 100%;
    }

}
