    /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    .contents {
        padding: 100px;
        text-align: justify !important;
        text-justify: inter-word;
        /**background: greenyellow;*/

    }
    .fixed-footer {
        background: black;
        color: white;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    .fixed-header {
        position: fixed;
        top: 0;
    }
    a,h6{
        text-decoration: none;
        text-transform: uppercase;
    }