.container{
  padding: 50px;


}
.signup-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  display: block;
  color: #666;
}

input  {
  border: none;
  border-bottom: 2px solid #999;
  padding: 0.5rem 0;
  background-color: transparent;
  width: 100%;
  outline: none;
  transition: border-bottom-color 0.2s ease-out;

}
input:focus {
  border-bottom-color: hsl(198, 92%, 53%);
}
input:hover {
  border-bottom-color: hsl(198, 92%, 53%);
}

button[type="submit"] {
  background-color: #0f354e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}
.error-message {
  color: #f44336;
  font-size: 0.575rem;
  margin-top: 0.25rem;
}