.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
  }
  
  .dropdown-menu li {
    padding: 5px 0;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f2f2f2;
  }
  